<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="minesweeper">
    <div class="container">
      <div ng-controller="MinesweeperCtrl" class="">
        <div ng-repeat='row in grid' class="row">
          <div ng-repeat='col in row' class="square">
            <square-directive ng-click="toggleSquare(col)" ng-right-click="toggleFlag()" square="col" grid="grid">{{col.mineCount}}</square-directive>
          </div>
        </div>
      </div>
    </div>

    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="controller.js" charset="utf-8"></script>
    <script src="service.js" charset="utf-8"></script>
    <script src="squareDirective.js" charset="utf-8"></script>
    <script src="rightclickDirective.js" charset="utf-8"></script>
  </body>
</html>
