.square {
  display: inline-block;
  text-align: center;
}

.hidden {
  visibility:hidden; !important
}

.flag {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Minesweeper_flag.svg/2000px-Minesweeper_flag.svg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  z-index: 100;
  position: relative;
}

header {
  width: 100%;
  background-color: lightblue;
  height: 75px;
  text-align: center;
}

header h2 {
  margin: 0;
  color: #fff;
  padding-top: 1%;
}

.grid {
  overflow-x: scroll;
  overflow-y: scroll;
  margin: 0 auto;
  text-align: center;
}
